/* Mobile Styles */
@media (max-width: 767px) {
  .world-map {
    display: none;
  }

  .filter-container {
    position: relative;
  }
  
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter:hover {
    background-color: #ebebeb;
  }
  
  .filter-input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 120px;
    overflow-y: auto;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .drop-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #333;
  }
  
  .drop-item:hover {
    background-color: #f5f5f5;
  }
  
  .drop-item:focus {
    outline: none;
    background-color: #f5f5f5;
  }
  
  .drop-item:last-child {
    border-bottom: none;
  }
  
  .fa-angle-down {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .filter[aria-expanded='true'] .fa-angle-down {
    transform: rotate(180deg);
  }

  /* Countries section */

.ctry-cont-title {
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.country-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: white;
  padding: 20px;
  border: 3px solid white;
  margin: -1px;

}

.country-element:nth-child(even) {
  background-color: #1670a4;
}

.country-element:nth-child(odd) {
  background-color: #0a4972;
}

.country-element .content {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 2;
}

.card-bg {
  width: 80%;
  opacity: 30%;
  padding-top: 20px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.country-element h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.country-element p {
  font-size: 14px;
  color: white;
}

.country-element span {
  font-weight: bold;
}

.country-details {
  font-size: 14px;
}

}

/* Medium Screen Styles */
@media (min-width: 768px) and (max-width: 1023px) {

  .filter-container {
    position: relative;
  }
  
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter:hover {
    background-color: #ebebeb;
  }
  
  .filter-input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .drop-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #333;
  }
  
  .drop-item:hover {
    background-color: #f5f5f5;
  }
  
  .drop-item:focus {
    outline: none;
    background-color: #f5f5f5;
  }
  
  .drop-item:last-child {
    border-bottom: none;
  }
  
  .fa-angle-down {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .filter[aria-expanded='true'] .fa-angle-down {
    transform: rotate(180deg);
  }

  /* Countries section */

.ctry-cont-title {
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.country-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: white;
  padding: 20px;
  border: 3px solid white;
  margin: -1px;

}

.country-element:nth-child(even) {
  background-color: #1670a4;
}

.country-element:nth-child(odd) {
  background-color: #0a4972;
}

.country-element .content {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 2;
}

.card-bg {
  width: 80%;
  opacity: 30%;
  padding-top: 20px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.country-element h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.country-element p {
  font-size: 14px;
  color: white;
}

.country-element span {
  font-weight: bold;
}
  
}

/* Large Screen Styles */
@media (min-width: 1024px) {

  .filter-container {
    position: relative;
  }
  
  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter:hover {
    background-color: #ebebeb;
  }
  
  .filter-input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .drop-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #333;
  }
  
  .drop-item:hover {
    background-color: #f5f5f5;
  }
  
  .drop-item:focus {
    outline: none;
    background-color: #f5f5f5;
  }
  
  .drop-item:last-child {
    border-bottom: none;
  }
  
  .fa-angle-down {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .filter[aria-expanded='true'] .fa-angle-down {
    transform: rotate(180deg);
  }

  /* Countries section */

.ctry-cont-title {
  font-weight: 800;
  font-size: 40px;
  text-align: center;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.country-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  position: relative;
  color: white;
  padding: 20px;
  border: 3px solid white;
  margin: -1px;
}

.country-element:nth-child(even) {
  background-color: #1670a4;
}

.country-element:nth-child(odd) {
  background-color: #0a4972;
}

.country-element .content {
  width: 100%;
  height: 200px;
  position: relative;
  z-index: 2;
}

.card-bg {
  width: 80%;
  opacity: 30%;
  padding-top: 20px;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.country-element h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.country-element p {
  font-size: 14px;
  color: white;
}

.country-element span {
  font-weight: bold;
}

}

body {
  background-color: #1670a4;
  color: #ffff;
}

/* Navbar & header */

.navbar {
  display: flex;
  background-color: #1693a4;
  column-gap: 30vw;
  padding-left: 4vw;
  height: 9vh;
  align-items: center;
}

.back-btn {
  color: rgb(25, 24, 27);
  height: 6vh;
  width: 40px;
  border-radius: 4px;
  align-items: center;
}

.back-btn:hover {
  background-color: rgb(245, 245, 245);
  color: blueviolet;
  border: 2px solid whitesmoke;

}

.back-btn svg  {
  margin-left: 8px;
  margin-top: 7px;
  font-size: 28px;
}

.header-text {
  font-size: 30px;
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Filter section */

.input-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.world-map {
  width: 98vw;
  height: 35vh;
  margin-left: 5px;
  margin-top: 10px;
}

/* Details page */

.country-details {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.country-details h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.country-details img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.country-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

.borders {
  margin-top: 20px;
  display: flex;
}

.border-name {
  margin-right: 10px;
  text-decoration: none;
  color: #1670a4;
  background-color: #ebebeb;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}












